
.label {
  padding: 0.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  pointer-events: none;
  text-align: center;
}

.label__price {
  font-size: 2rem;
  color: #dbdbdb;
}

.label_price {
  font-size: 2rem;
  color: #9a9a9a;
}


/* ================INFO WINDOW================ */

.info-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  background: white;
  z-index: 9999;
}

/* .info-content h2 {
  margin-top: 0;
}

.info-window button {
  margin-top: 10px;
} */



h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-container-course-title {
  font-size: 2rem;
  margin:0;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
  
}

.grid-container-course-title-extra {
  font-size: 1.5rem;
  margin:0;
  font-weight: 700;
  margin: 1rem 0 1rem 0;
  
}

.grid-container-course-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  gap: 20px; /* Adjust the gap between items */
  padding: 20px; /* Optional: Adjust padding around the grid */
  border: 1px solid black;
}

.grid-item-course-description {
  position: relative; /* Needed for pseudo-element positioning */
  display: flex; /* Aligns the icon with the text */
  align-items: center; /* Centers items vertically */
  gap: 20px; /* Space between icon and text */
  
  padding: 10px;
  padding-left: 30px; /* Make space for the pseudo-element icon */
  border-radius: 5px; /* Rounded corners for grid items */
 /* box-shadow: 0 2px 4px rgba(0,0,0,0.1);  Subtle shadow */
}

.grid-item-course-description::before {
  content: "✓"; /* Your chosen Unicode character */
  position: absolute;
  left: 0px; /* Adjust based on padding */
  font-size: 20px; /* Adjust size as needed */
  color: #4CAF50; /* Example color, adjust as needed */
}

.grid-item-course-extra-description {
  position: relative; /* Needed for pseudo-element positioning */
  display: flex; /* Aligns the icon with the text */
  align-items: center; /* Centers items vertically */
  gap: 20px; /* Space between icon and text */
  
  padding: 10px;
  padding-left: 30px; /* Make space for the pseudo-element icon */
  border-radius: 5px; /* Rounded corners for grid items */
 /* box-shadow: 0 2px 4px rgba(0,0,0,0.1);  Subtle shadow */
}

.grid-item-course-extra-description::before {
  content: "⤑"; /* Your chosen Unicode character */
  position: absolute;
  left: 0px; /* Adjust based on padding */
  font-size: 20px; /* Adjust size as needed */
  color: #000000; /* Example color, adjust as needed */
}